node_modules/
www/
dist/
.angular/
.ionic/
coverage/
.DS_Store

android/.gradle/
android/build/
android/app/build/
android/local.properties

ios/App/Pods/
ios/App/App/public/
ios/App/DerivedData/

*.log
npm-debug.log*
android/.idea/
